name: Generate Audio Manual

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  tts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyttsx3 pydub
          sudo apt update
          sudo apt install -y espeak libespeak1 ffmpeg

      - name: Run TTS script
        run: python generate_audio.py

      - name: Upload audio as artifact
        uses: actions/upload-artifact@v4
        with:
          name: audio-files
          path: audio/
