name: Generate Audio Daily

on:
  schedule:
    # ירוץ כל יום בשעה 03:00 UTC
    - cron: '0 3 * * *'
  workflow_dispatch: # אפשרות להרצה ידנית


jobs:
  generate-audio:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gTTS

      - name: Generate audio
        run: |
          python generate_audio.py
